body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main{
    height: 100%;
    width: 100%;
    background-image: url(images/rlbackground.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.rlform{
    width: 380px;
    height: 420px;
    position: relative;
    margin: 4% auto;
    background: #fff;
    padding: 5px;
    overflow:hidden;
}
.buttonbox{
    left: 80px;
    width: 220px;
    margin: 35x auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff185f, #ffad06);
    border-radius: 30px;
    transition: .5s;
}
.input-button{
    top: 180px;
    position: absolute;
    width: 220px;
    transition: .5s;
}
.input-group{
    top: 180px;
    position: absolute;
    width: 580px;
    transition: .5s;
}
.input-field{
    width: 50%;
    padding: 10px 0;
    margin: 5px -1px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 50%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    
    background: linear-gradient(to right, #ff185f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.forget-password{
    margin: 15px 0;
    text-align: left;
    font-size: 12px;
    font-weight: 100;
}
.forget-password a:hover{
    color: #2ea334;
}
#login{
    left: 50px;
}
/*#register{
    left: 450px;
}*/